<launch>
    <!-- launch robot with endoscope -->
    <include file="$(find lbr_storz_endoscope_moveit)/launch/moveit_planning_execution.launch"/>

    <!-- launch remote center of motion action server -->
    <include file="$(find rcm_impl)/launch/three_dof_rcm.launch"/> 

    <!-- execute task via action client -->
    <node pkg="rcm_examples" name="rcm_example_node" type="rcm_example_node.py" ns="lbr" output="screen"/>
</launch>